<!DOCTYPE html>
<!-- op_ebsi_verifier_qrcopde2-->
<html  style="background-color: {{ page_background_color }} ">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='./img/3D.ico') }}"/>
    <title>{{application_name}}</title>
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='bootstrap.min.css') }}">
    <script type="module" src="https://md-block.verou.me/md-block.js"></script>
  </head>
  <body>
    <font color="{{page_text_color}}"> 

        <div id="content_desktop" class="d-none d-sm-block mt-5" style=" background-color: {{page_background_color}} ">
          
          <div class="row">
            <div class="col-sm-12 my-auto">
            

          <div class="text-center mt-5">
            <h1 class="mt-5">SD-JWT OIDC4VP testing</h1>
            <h3 class="mt-5">{{page_subtitle}}</h3>
            
            <div class="row">
              <div class="col-6 offset-3">
                <h5 class="mt-5">{{page_description}}</h5>
              </div>
            </div>
          </div>  

            <div class="row d-flex justify-content-center mt-5">

            

          </div>

          <div class="text-center mt-5">

            <div class="text-center mt-5"> 
              <h2>Report</h2><br>
              <textarea id="myTextArea" type="text" rows="20" cols="150">{{report}}</textarea> 
              <br><br>
              </div><br>


            <h2>RAW data</h2><br>
            <textarea rows="20" cols="150">{{raw}}</textarea>
            </div>

            <div class="text-center mt-5">
            <h2>Presentation submission</h2><br>
            <textarea rows="20" cols="150">{{presentation_submission}}</textarea>
            </div>


              <div class="text-center mt-5">
              <h2>Issuer signed JWT header</h2><br>
              <textarea rows="5" cols="150">{{vcsd_jwt_header}}</textarea>
              </div>

              <div class="text-center mt-5">
                <h2>Issuer signed JWT payload</h2><br>
                <textarea rows="25" cols="150">{{vcsd_jwt_payload}}</textarea>
                </div>

              <div class="text-center mt-5">
                <h2>Disclosures</h2><br>
                <textarea rows="5" cols="150">{{disclosure|safe}}</textarea>
              </div>
                
                <div class="text-center mt-5">
                  <h2>Key Binding JWT header</h2><br>
                  <textarea rows="5" cols="150">{{kbjwt_header|safe}}</textarea>
                </div>

                <div class="text-center mt-5">
                    <h2>Key Binding JWT payload</h2><br>
                    <textarea rows="7" cols="150">{{kbjwt_payload|safe}}</textarea>
                  </div>

                 
        
                </div>
        <br>
        <br>
           
          </div>
          </div>
        </div>
        


       
    <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
 
    
      </font>
  </body>
</html>