<!DOCTYPE html>
<!-- op_verifier_qrcopde2-->
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/img/altmeIcon.png">
    <title>Talao</title>
    <link rel="stylesheet" href="/static/home.css">
</head>

<body>
    {% include 'header.html' %}

    <div id="mainBox">
        <div id="boxVerifier1">

            <p id="title">{{page_title}}</p>


            <form id="form" action="/verifier/wallet?code={{code}}" method="POST">
                <select id="selectForm" name="prefix">
                    <option class="optionForm" value="altme-openid-vc://">altme-openid-vc://</option>
                    <option class="optionForm" value="talao-openid-vc://">talao-openid-vc://</option>
                    <option class="optionForm" value="openid-vc://">openid-vc://</option>
                    <option class="optionForm" value="openid://">openid://</option>
                    <option class="optionForm" value="siopv2://">siopv2://</option>
                </select>

                <button id="refresh" name="button" value="update" type="submit">REFRESH</button>
            </form>
        </div>

        <div id="boxVerifier2">

            <div id="divCompliantVerifier">
                <img id="arrowDown" src="/static/img/arrow-down.png">
                <p id="compliant">{{page_subtitle}}</p>
            </div>
            <img id="qrcode" src="{{ qrcode(url) }}">
            <p>{{qrcode_message}}</p>
            <a href={{landing_page_url}}>{{landing_page_url}} </a>
        </div>

    </div>
    {% include 'footer.html' %}


    <script>
        var source = new EventSource('/verifier/wallet/stream');
        source.onmessage = function (event) {
            const result = JSON.parse(event.data)
            if (result.stream_id == '{{stream_id}}') {
                window.location.href = '/verifier/wallet/followup?stream_id=' + result.stream_id;
            }
        };
    </script>
</body>

</html>