<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/img/altmeIcon.png">
    <title>Talao</title>
    <link rel="stylesheet" href="/static/home.css">
</head>

<body>
    {% include 'header.html' %}
    <div id="mainBox">
        <p id="title">Wallet Tests for OIDC4VP SIOPV2 compliance</p>
        <div id="divCompliant">
            <img id="arrowDown" src="/static/img/arrow-down.png">
            <p id="compliant">Here is a list of wallet tests</p>
        </div>
        <div id="testBox">
            <div class="testColumn">
                <a class="test" href="/sandbox/verifier/tezos-ebsi">
                    <div class="topLineLink">
                        <p class="testP">Test #1 Application TEZOS-EBSI</p><img class="linkImg" src="/static/img/link.png">
                    </div>
                    <p class="testDescription">Web site</p>
                </a>
                <a class="test" href="/sandbox/verifier/default_2">
                    <div class="topLineLink">
                        <p class="testP">Test #2 Profile DEFAULT Test #4</p><img class="linkImg" src="/static/img/link.png">
                    </div>
                    <p class="testDescription">deferred VC number = None</p>
                </a>
                <a class="test" href="/sandbox/verifier/gaiax">
                    <div class="topLineLink">
                        <p class="testP">Test #3 Profile GAIA-X #9</p><img class="linkImg" src="/static/img/link.png">
                    </div>
                    <p class="testDescription">deferred VC number = None</p>
                </a>
                <a class="test" href="/sandbox/verifier/gaiax_3">
                    <div class="topLineLink">
                        <p class="testP">Test #4 Profile GAIA-X #11</p><img class="linkImg" src="/static/img/link.png">
                    </div>
                    <p class="testDescription">ebsi issuer</p>
                </a>
                <a class="test" href="/sandbox/verifier/ebsiv3_2">
                    <div class="topLineLink">
                        <p class="testP">Test #5 Profile EBSI v3 #13</p><img class="linkImg" src="/static/img/link.png">
                    </div>
                    <p class="testDescription">Id token for compliance test</p>
                </a>
                <a class="test" href="">
                    <div class="topLineLink">
                        <p class="testP">Test #6</p><img class="linkImg" src="/static/img/link.png">
                    </div>
                    <p class="testDescription">Description</p>
                </a>
            </div>
            <div class="testColumn">
                <a class="test" href="/sandbox/verifier/default">
                    <div class="topLineLink">
                        <p class="testP">Test #7 Profile DEFAULT Test #3</p><img class="linkImg" src="/static/img/link.png">
                    </div>
                    <p class="testDescription">deferred VC number = None</p>
                </a>
                <a class="test" href="/sandbox/verifier/default_3">
                    <div class="topLineLink">
                        <p class="testP">Test #8 Profile DEFAULT Test #5</p><img class="linkImg" src="/static/img/link.png">
                    </div>
                    <p class="testDescription">deferred VC number = None</p>
                </a>
                <a class="test" href="/sandbox/verifier/gaiax_2">
                    <div class="topLineLink">
                        <p class="testP">Test #9 Profile GAIA-X #10</p><img class="linkImg" src="/static/img/link.png">
                    </div>
                    <p class="testDescription">deferred VC number = None</p>
                </a>
                <a class="test" href="/sandbox/verifier/ebsiv3">
                    <div class="topLineLink">
                        <p class="testP">Test #10 Profile EBSI v3 #12</p><img class="linkImg" src="/static/img/link.png">
                    </div>
                    <p class="testDescription">vp_token for compliance test</p>
                </a>
                <a class="test" href="">
                    <div class="topLineLink">
                        <p class="testP">Test #11</p><img class="linkImg" src="/static/img/link.png">
                    </div>
                    <p class="testDescription">Description</p>
                </a>
                <a class="test" href="">
                    <div class="topLineLink">
                        <p class="testP">Test #12</p><img class="linkImg" src="/static/img/link.png">
                    </div>
                    <p class="testDescription">Description</p>
                </a>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}

</body>

</html>