<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/img/altmeIcon.png">
    <title>Talao</title>
    <link rel="stylesheet" href="/static/home_responsive.css">
</head>

<body>
    {% include 'header.html' %}
    <div id="mainBox">
        <p id="title">Verifier examples for OIDC4VP and SIOPV2 tests</p>
        <div id="divCompliant">
            <img id="arrowDown" src="/static/img/arrow-down.png">
            <p id="compliant">Here is a list of wallet tests</p>
        </div>
        <div id="testBox">
            <div class="testColumn">
                <a class="test" href="/sandbox/verifier/test_1">
                    <div class="topLineLink">
                        <p class="testP">Test #1 {{title_test_1}}</p><img class="linkImg" src="/static/img/link.png">
                    </div>
                    <p class="testDescription">{{subtitle_test_1}}</p>
                </a>
                <a class="test" href="/sandbox/verifier/test_2">
                    <div class="topLineLink">
                        <p class="testP">Test #2 {{title_test_2}}</p><img class="linkImg" src="/static/img/link.png">
                    </div>
                    <p class="testDescription">{{subtitle_test_2}}</p>
                </a>
                <a class="test" href="/sandbox/verifier/test_3">
                    <div class="topLineLink">
                        <p class="testP">Test #3 {{title_test_3}}</p><img class="linkImg" src="/static/img/link.png">
                    </div>
                    <p class="testDescription">{{subtitle_test_3}}</p>
                </a>
                <a class="test" href="/sandbox/verifier/test_4">
                    <div class="topLineLink">
                        <p class="testP">Test #4 {{title_test_4}}</p><img class="linkImg" src="/static/img/link.png">
                    </div>
                    <p class="testDescription">{{subtitle_test_4}}</p>
                </a>
                <a class="test" href="/sandbox/verifier/test_5">
                    <div class="topLineLink">
                        <p class="testP">Test #5 {{title_test_5}}</p><img class="linkImg" src="/static/img/link.png">
                    </div>
                    <p class="testDescription">{{subtitle_test_5}}</p>
                </a>
                <a class="test" href="/sandbox/verifier/test_6">
                    <div class="topLineLink">
                        <p class="testP">Test #6 {{title_test_6}}</p><img class="linkImg" src="/static/img/link.png">
                    </div>
                    <p class="testDescription">{{subtitle_test_6}}</p>
                </a>

                <hr style="width:50%"> 
                
                <a class="test" href="/sandbox/verifier/test_13">
                    <div class="topLineLink">
                        <p class="testP">Test #13 {{title_test_13}}</p><img class="linkImg" src="/static/img/link.png">
                    </div>
                    <p class="testDescription">{{subtitle_test_13}}</p>
                </a>
                <a class="test" href="/sandbox/verifier/test_14">
                    <div class="topLineLink">
                        <p class="testP">Test #14 {{title_test_14}}</p><img class="linkImg" src="/static/img/link.png">
                    </div>
                    <p class="testDescription">{{subtitle_test_14}}</p>
                </a>
            </div>
            <div class="testColumn">
                <a class="test" href="/sandbox/verifier/test_7">
                    <div class="topLineLink">
                        <p class="testP">Test #7 {{title_test_7}}</p><img class="linkImg" src="/static/img/link.png">
                    </div>
                    <p class="testDescription">{{subtitle_test_7}}</p>
                </a>
                <a class="test" href="/sandbox/verifier/test_8">
                    <div class="topLineLink">
                        <p class="testP">Test #8 {{title_test_8}}</p><img class="linkImg" src="/static/img/link.png">
                    </div>
                    <p class="testDescription">{{subtitle_test_8}}</p>
                </a>
                <a class="test" href="/sandbox/verifier/test_9">
                    <div class="topLineLink">
                        <p class="testP">Test #9 {{title_test_9}}</p><img class="linkImg" src="/static/img/link.png">
                    </div>
                    <p class="testDescription">{{subtitle_test_9}}</p>
                </a>
                <a class="test"  href="/sandbox/verifier/test_10">
                    <div class="topLineLink">
                        <p class="testP">Test #10 {{title_test_10}}</p><img class="linkImg" src="/static/img/link.png">
                    </div>
                    <p class="testDescription">{{subtitle_test_10}}</p>
                </a>
                <a class="test" href="/sandbox/verifier/test_11">
                    <div class="topLineLink">
                        <p class="testP">Test #11 {{title_test_11}}</p><img class="linkImg" src="/static/img/link.png">
                    </div>
                    <p class="testDescription">{{subtitle_test_11}}</p>
                </a>
                <a class="test" href="/sandbox/verifier/test_12">
                    <div class="topLineLink">
                        <p class="testP">Test #12 {{title_test_12}}</p><img class="linkImg" src="/static/img/link.png">
                    </div>
                    <p class="testDescription">{{subtitle_test_12}}</p>
                </a>
                <hr style="width:50%"> 
            </div>
        </div>
    </div>
    {% include 'footer.html' %}

</body>

</html>