<!DOCTYPE html>
<!-- emailpass.html -->
<html>

<head>
    {% include 'head.html' %}

</head>

<body id="page-top">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
            
                       {% include 'nav_bar.html' %}

    <div class="container">
        <div class="row  justify-content-center">
            <div class="col-lg-4">
                <div class="card shadow o-hidden border-0 my-5" style="color: rgb(133,135,150);">
                    <div class="card-body p-0">
                                <div class="m-5">
                                    <div class="text-center"><h4 class="text-dark mb-4" >Enter the test name</h4></div>

                                    <p>Example : test5, test12</p>

                                    <form name="form" class="user" action="{{url}}" method="post">
                                        <div class="form-group"><input required="" class="form-control" type="text" placeholder="test5"  name="test" style="color: rgb(133,135,150);"></div>

                                        <button  id="in_progress_button" style="background-color: #500bf5;" class="btn btn-block text-white border rounded btn-user" type="submit">Next</button>
                                    </form>
                                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

{% include 'footer.html' %}
    <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='in_progress_button.js') }}"></script>
</body>
</html>
