<!DOCTYPE html>
<html>
  <head>
    {% include 'head.html' %}   
  </head>
  <body class="flex flex-col items-center justify-center h-screen w-screen">
    <div id="wrapper">
      <div class="d-flex flex-column " id="content-wrapper">
        <div id="content">
 <!--       {% include 'nav_bar.html' %}   -->
      
      
     
      <div id="content_desktop" class="d-none d-sm-block mt-5">
        <div class="row">
          <div class="col-2 offset-5">
            <div class="text-center">  
            <div class="card shadow border-dark mt-5" >
              <img class="card-img-top p-3" src="{{ qrcode(url) }}">
              <div class="card-body">
                <h6 class="card-title">{{_('Scan the QR Code with your wallet')}}</h6>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>

<!--
      <div id="content_smartphone" class="d-block d-sm-none mt-5"> 
      
        <a href="{{deeplink_altme}}"><img src="/static/img/emailproof.png" class="card-img-top mt-3 p-3"></a>
       
            <div class="text-center">
              <div class="text-center my-1 p-3">
                <a href="{{deeplink_altme}}" class="bg-transparent" style="text-decoration: none;">{{_('Click here to get your proof of email into your wallet')}} </p>
                <div class="col mb-3"></a>
                            
                </div>
              </div>      
          
        
        </div>  -->


 
        <div id="content_smartphone" class="d-block d-sm-none " style="background-color: {{page_background_color}}" > 
          
          <br><br><br>
          <div class="mt-5">
            <div class="text-center">
              <div class="row mt-5">
                <did class="col-10 offset-1" >

                <div class="card shadow border-dark mt-2 " style="border-radius: 10%; background-color: {{qrcode_background_color}} ">

                  <div class="row mt-3">
                    <div class="col-10 offset-1">
                  <div class="my-3">
                    <h5>Choose your preferred wallet</h5>
                  </div>
                  </div>
                  </div>

                    <div class="row mt-3">
                      <div class="col">
                         
                        <a href="{{deeplink_altme}}" class="bg-transparent" style="text-decoration: none;"><img src="/static/img/AltMe.png"  style="width: 50px;"></a>
                        <br><bt><br><h6>Altme wallet</h6>
                      </div>
                     
                    </div>

                    <div class="row my-3">
                      <div class="col">
                         
                        <a href="{{deeplink_talao}}" class="bg-transparent" style="text-decoration: none;"><img src="/static/img/talao_icon.png"  style="width: 100px;"></a>
                        <h6>Talao wallet</h6>
                      </div>
                    </div>
         
                </div>
              
                      </div>
              </div>
            </div>
          </div>
          


      </div>


    </div>
  </div>
</div>
        {% include 'footer.html' %}

<script>function goBack() {  window.history.back();}</script>
<script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
<script src="{{ url_for('static', filename='bs-init.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>

<script>
var source = new EventSource('/emailpass/stream');
source.onmessage = function (event) {
     const result = JSON.parse(event.data)
     if (result.id == "{{id}}" ){
      window.location.href="/emailpass/end?followup=" + result.check;
     }
};
</script>
</body>
</html>