<!DOCTYPE html>
<!-- wallet_test.html -->
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/img/altmeIcon.png">
    <title>Talao</title>
    <link rel="stylesheet" href="/static/home.css">
</head>

<body>

    {% include 'header.html' %}
    <div id="mainBox">

        <p id="title">Wallet Tests for OIDC4VCI compliance</p>
        <div id="divCompliant">
            <img id="arrowDown" src="/static/img/arrow-down.png">
            <p id="compliant">Here is a list of wallet test</p>
        </div>
        <div id="testBox">
            <div class="testColumn">
                <a class="test" href="/sandbox/issuer/ebsiv3_diploma">
                    <div class="topLineLink">
                        <p class="testP">EBSI Diploma (V3)</p><img class="linkImg" src="/static/img/link.png">
                    </div>
                    <p class="testDescription">Web site</p>
                </a>
                <a class="test" href="/sandbox/issuer/user_pin">
                    <div class="topLineLink">
                        <p class="testP">Issuer User PIN</p><img class="linkImg" src="/static/img/link.png">
                    </div>
                    <p class="testDescription">deferred VC number = None</p>
                </a>
                <a class="test" href="/sandbox/issuer/default_3">
                    <div class="topLineLink">
                        <p class="testP">Profile DEFAULT Test #6</p><img class="linkImg" src="/static/img/link.png">
                    </div>
                    <p class="testDescription">deferred VC number = None</p>
                </a>
                <a class="test" href="/sandbox/issuer/wallet_link">
                    <div class="topLineLink">
                        <p class="testP">Profile DEFAULT Wallet-link</p><img class="linkImg" src="/static/img/link.png">
                    </div>
                    <p class="testDescription">ebsi issuer</p>
                </a>
                <a class="test" href="/sandbox/issuer/ebsiv31">
                    <div class="topLineLink">
                        <p class="testP">Profile EBSI v3 #8</p><img class="linkImg" src="/static/img/link.png">
                    </div>
                    <p class="testDescription">Id token for compliance test</p>
                </a>
                <form class="test" action="/sandbox/issuer/default_2/deferred" method="post">


                    <p class="testP">Deferred VC number</p>
                    <div id="divFormTest">
                        <input type="text" name="issuer_state" placeholder="VC number">
                        <a href="/sandbox/issuer/default_2/deferred">
                            <button id="submitDeffered" type="submit">PROVIDE DEFFERED VC</button>
                        </a>
                    </div>

                </form>

            </div>
            <div class="testColumn">
                <a class="test" href="/sandbox/issuer/gaia-x">
                    <div class="topLineLink">
                        <p class="testP">Profile GAIA-X</p><img class="linkImg" src="/static/img/link.png">
                    </div>
                    <p class="testDescription">deferred VC number = None</p>
                </a>
                <a class="test" href="/sandbox/issuer/default">
                    <div class="topLineLink">
                        <p class="testP">Profile DEFAULT Test #2</p><img class="linkImg" src="/static/img/link.png">
                    </div>
                    <p class="testDescription">deferred VC number = None</p>
                </a>
                <a class="test" href="/sandbox/issuer/default_2">
                    <div class="topLineLink">
                        <p class="testP">Profile DEFAULT Test #5 (deferred VC)</p><img class="linkImg"
                            src="/static/img/link.png">
                    </div>
                    <p class="testDescription">deferred VC number = None</p>
                </a>
                <a class="test" href="/sandbox/issuer/default_jwt">
                    <div class="topLineLink">
                        <p class="testP">Profile DEFAULT Test #7 ( JWT )</p><img class="linkImg"
                            src="/static/img/link.png">
                    </div>
                    <p class="testDescription">vp_token for compliance test</p>
                </a>
                <a class="test" href="/sandbox/issuer/ebsiv3">
                    <div class="topLineLink">
                        <p class="testP">Profile EBSI v3 #10</p><img class="linkImg" src="/static/img/link.png">
                    </div>
                    <p class="testDescription">Description</p>
                </a>
                <a class="test" href="">
                    <div class="topLineLink">
                        <p class="testP">Test</p><img class="linkImg" src="/static/img/link.png">
                    </div>
                    <p class="testDescription">Description</p>
                </a>
            </div>
        </div>














    </div>

    {% include 'footer.html' %}


</body>

</html>