<!DOCTYPE html>
<!-- wallet_test.html -->
<html>

<head>
    {% include 'head.html' %}
</head>

<body id="page-top" >
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content" >
                {% include 'saas_nav_bar.html' %}
                <div class="container-fluid my-5">

                
        
                    <div class="text-center">
                        <h4>Wallet Tests for OIDC4VCI compliance</h4>
                    </div>
                    <div class="row my-5">
                        
                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/sandbox/issuer/ebsiv2">
                                <br>EBSI Diploma</strong></a> <!-- Test 1-->
                            </div>
                        </div>
                    

                            
                    </div>


                    <div class="row my-5">
                        
                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/sandbox/issuer/gaia-x">
                                <br>#4 Profile GAIA-X</strong></a>
                            </div>
                        </div>
                    </div>


                        <div class="row my-5">

                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/sandbox/issuer/default_2">
                                <br></strong>#5 Profile DEFAULT (deferred VC)</a>
                          
                            <form action="/sandbox/issuer/default_2/deferred" method="post">
                              
                                <br>
                                Deferred VC number :  <input type="text" name="issuer_state"><br><br>
                                <a href="/sandbox/issuer/default_2/deferred"><button  class="btn btn-primary btn-sm" style="background-color: #09060f;" type="submit">Provide deferred VC</button></a>
                            </form> 
                        </div>
                        </div>

                           
                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/sandbox/issuer/default">
                                <br></strong>#2 Profile DEFAULT</a><br>
                                authorization code flow
                            </div>
                        </div>
                    </div>

                    <div class="row my-5">
                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/sandbox/issuer/default_3">
                                <br>#6 Profile DEFAULT</strong></a>
                            </div>
                        </div>     
                        
                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/sandbox/issuer/wallet_link">
                                <br>#11 Profile  Default wallet-link</strong></a>
                            </div>
                        </div>


                    </div>
                    
                
                
                
            


                    <div class="row my-5">
                        
                       

                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/sandbox/issuer/hedera_2">
                                <br>#7 Profile GreenCypher</strong></a><br>
                                Get all GreenCypher credentials
                            </div>
                        </div>            
                        
                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/sandbox/issuer/hedera">
                                <br>#3 Profile GreenCypher</strong></a><br>
                                Multiple VC of the same type issuance
                            </div>
                        </div>       
                      


                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/sandbox/issuer/hedera_30">
                                <br>#9 Profile GreenCypher (user pin)</strong></a>
                            </div>
                        </div>  

                    </div>

                    <div class="row my-5">
                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/sandbox/issuer/ebsiv3">
                                <br>#10 Profile EBSI V3</strong></a><br>
                                authorization code flow
                            </div>
                        </div>  
                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/sandbox/issuer/ebsiv31">
                                <br>#8 Profile EBSI-V3</strong></a>
                            </div>
                        </div>  
                     


                    </div>

          

                </div>
            </div>
        </div>
    </div>
                                {% include 'user_footer.html' %}

    <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>

    <script>
        function goBack() {
          window.history.back();
        }
    </script>

</body>

</html>
