<!DOCTYPE html>

<html>

<head>
    {% include 'app_download/head.html' %}
</head>

<body id="page-top" >
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content" >
                <div class="container">
                    <div class="row mt-5">
                        <div class="col-sm-6 offset-sm-3">
                            <div id = "id_loading">
                                <div class="card">
                                    <img src="/static/img/7.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <div class="text-center">
                                            <h5 class="card-title">If the wallet is not installed clic <a href="https://app.talao.co/device_detector">here</a><br> 
                                                If the wallet is already installed your smartphone browser does not support Universal Links</h5>
                                            <p class="card-text">Use Safari on Iphone or Chrome on Android as browser by default</p>

                                        </div>
                                    </div> 
                                </div>                                      
                                    
                            
                            </div>
                            <div id="space"></div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
    {% include 'app_download/footer.html' %}  

    <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>   
    
    
  

</body>
</html>
