<!DOCTYPE html>
<!-- home.html
last one-->
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/img/altmeIcon.png">
    <title>Talao</title>
    <link rel="stylesheet" href="/static/home.css">
</head>

<body>

    {% include 'header.html' %}



    <div id="mainBox">
        <div id="titles">
            <p id="title">Test your OIDC4VC issuers or verifiers</p>
        </div>
        <div id="box2">
            
            <form action="/ai/qrcode" method="POST">
                <center><br><br>
                        <div id="divCompliant"><img id="arrowDown" src="/static/img/arrow-down.png">
                            <p id="compliant">Copy the QR code below</p>
                        </div>
                    <textarea type="text" rows="20" cols="150" name="qrcode"></textarea> 
                    <br><br><button  style="width: 200px; height: 50px;" type="submit"><h3>And get a diagnostic</h3></button> 
                </center>
            </form> 
            <h3>Issuer tested : {{request_number}}</h3>
            
        </div>

    </div>
    <p>An OpenAI model is used in addition to Web3 Digital Wallet testing tools and dataset. Do not use personal data.</p>


    {% include 'footer.html' %}


</body>

</html>