<!DOCTYPE html>
<!-- home.html
last one-->
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/img/altmeIcon.png">
    <title>Talao</title>
    <link rel="stylesheet" href="/static/home.css">
</head>

<body>

    {% include 'header.html' %}



    <div id="mainBox">
        <div id="titles">
            <p id="title">We use several DIDs to sign and to issue verifiable credentials</p>
        </div>
        <div id="box2">
            <div id="divCompliant"><img id="arrowDown" src="/static/img/arrow-down.png">
                <p id="compliant">Here is a list of our DIDs</p>
            </div>
            <div id="didsBox">
                <div class="didBox">
                    <p class="didBoxTitle">Primary DID</p>
                    <p class="didBoxTitle">did:web:app.altme.io:issuer</p>
                </div>
                <div class="didBox">
                    <p class="didBoxTitle">Secondary DIDs</p>
                    <div id="underDidsBox">
                        <div class="secondaryDidBox">
                            <p class="didBoxTitle">Tezos (did:tz) :</p>
                            <p class="didBoxsubTitle">did:tz:tz1NyjrTUNxDpPaqNZ84ipGELAcTWYg6s5Du</p>
                        </div>
                        <div class="secondaryDidBox">
                            <p class="didBoxTitle">DNS (did:web) :</p>
                            <p class="didBoxsubTitle">did:web:talao.co</p>
                        </div>
                        <div class="secondaryDidBox">
                            <p class="didBoxTitle">Ethereum (did:ethr) :</p>
                            <p class="didBoxsubTitle">did:ethr:0x61fb76ff95f11bdbcd94b45b838f95c1c7307dbd</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% include 'footer.html' %}


</body>

</html>