<div id="footer">
    <div class="boxLinksFooter">
        <p class="linkBoldFooter">Services</p>
        <a class="linkFooter">Consulting</a>
        <a class="linkFooter">Development</a>
    </div>
    <div class="boxLinksFooter">
        <p class="linkBoldFooter">About</p>
        <a class="linkFooter" href="https://altme.io/privacy">Privacy Policy</a>
        <a class="linkFooter" href="https://altme.io/cgu">Terms & Coniditions</a>
    </div>
    <div id="rightBoxFooter">
        <div id="networksBox">
            <a href="https://twitter.com/Talao_io"><img class="networkIcon" src="/static/img/twitter.png"></a>
            <a href="https://www.linkedin.com/company/10175757/"><img class="networkIcon" src="/static/img/linkedin.png"></a>
            <a href="mailto:relay@talao.io"><img class="networkIcon" src="/static/img/mail.png"></a>
        </div>
        <p id="creditsFooter">© Talao 2023 Version : 0.3.0</p>
    </div>
</div>