<div id="header">
    <img id="logoNavBar" src="/static/img/icon.png">
    <div id="navBar">
        {% if not session['is_connected'] %}
        <a class="nav-link" href="/sandbox/saas4ssi">Home</a>
        {% else %}
        <a class="nav-link" href="/sandbox/saas4ssi/menu">Menu</a>
        {% endif %}
        {% if not session['is_connected'] %}
        <a class="nav-link" href="/sandbox/saas4ssi/dids">Our
            DIDs</a>
        {% endif %}
        {% if not session['is_connected'] %}
        <div class="dropdown">
            <button onclick="myFunction()" class="dropbtn nav-link">Developers</button>
            <div id="myDropdown" class="dropdown-content">
                <a href="/sandbox/playground">Fake credentials and tools</a>
                <a href="/sandbox/display_VP">Display VC/VP content</a>
                <a href="/sandbox/issuer/oidc/test">OIDC4VCI wallet testing</a>
                <a href="/sandbox/verifier/oidc/test">OIDC4VP/SIOPV2 wallet testing</a>

            </div>
        </div>
        {% endif %}

        {% if session['is_connected'] %}
        <a class="nav-link" href="/sandbox/saas4ssi/logout">Logout</a>
        {% else %}
        <a class="nav-link" href="/sandbox/saas4ssi/signup">Register</a>
        {% endif %}
        {% if not session['is_connected'] %}
        <a class="nav-link" href="/sandbox/saas4ssi/login_2">Login</a>
        {% endif %}
        {% if not session['is_connected'] %}
        <a id="downloadNavBar" class="altmeTheme" href="https://altme.io"><p id="downloadNavBarP" class="altmeTheme">DOWNLOAD ALTME</p><img src="/static/img/arrow-right.png" id="arrow-rightNavBar"></a>
        {% endif %}
        <a id="contactNavBar" href="mailto:thierry@altme.io">CONTACT</a>
    </div>
</div>
<script>
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

    // Close the dropdown menu if the user clicks outside of it
    window.onclick = function (event) {
        if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
        if (!event.target.matches('.dropbtn2')) {
            var dropdowns = document.getElementsByClassName("dropdown-content2");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }
    function myFunction2() {
        document.getElementById("myDropdown2").classList.toggle("show");
    }


</script>