<!-- header.html-->
<div id="header">
    <img id="logoNavBar" src="/static/img/Talao + Altme wallets logo.png">

    <div id="navBar">

        {% if not session['is_connected'] %}

        <a class="nav-link" style="color:white" href="/sandbox/saas4ssi/admin">a</a>

        <a class="nav-link" href="/">Home</a>
        {% else %}
        <a class="nav-link" href="/sandbox/saas4ssi/menu">Menu</a>
        {% endif %}
        {% if not session['is_connected'] %}
        <a class="nav-link" href="/sandbox/saas4ssi/dids">Our
            DIDs</a>
        {% endif %}

        {% if not session['is_connected'] %}
        <div class="dropdown">
            <button onclick="myFunction()" class="dropbtn nav-link">Developers</button>
            <div id="myDropdown" class="dropdown-content">
                <a href="/sandbox/display_VP">Display VC/VP content</a>
                <a href="/sandbox/issuer/statuslist">Active/Revoke a SD-JWT VC</a>
                <a href="/sandbox/issuer/bitstringstatuslist">Active/Revoke a JWT VC</a>
                <a href="/issuer/oidc/test">Issuers OIDC4VCI for tests</a>
                <a href="/sandbox/verifier/oidc/test">Verifiers OIDC4VP/SIOPV2 for tests</a>
                <a href="/api/swagger"> Swagger UI for Talao issuer</a>
                <a href="/wallet">Organisational Wallet Layout</a>
            </div>
        </div>
        {% endif %}

        {% if session['is_connected'] %}
        <a class="nav-link" href="/sandbox/saas4ssi/logout">Logout</a>    
        {% endif %}

        {% if not session['is_connected'] %}
        <a id="downloadNavBar" class="altmeTheme" href="https://talao.io"><p id="downloadNavBarP" class="altmeTheme">DOWNLOAD TALAO</p><img src="/static/img/arrow-right.png" id="arrow-rightNavBar"></a>
        {% endif %}
        <a id="contactNavBar" href="https://qhf0siml406.typeform.com/to/PdULRDIV">CONTACT</a>
    </div>
</div>
<script>
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

    // Close the dropdown menu if the user clicks outside of it
    window.onclick = function (event) {
        if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
        if (!event.target.matches('.dropbtn2')) {
            var dropdowns = document.getElementsByClassName("dropdown-content2");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }
    function myFunction2() {
        document.getElementById("myDropdown2").classList.toggle("show");
    }


</script>