<!DOCTYPE html>
<!-- home.html
last one-->
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/img/altmeIcon.png">
    <title>Talao</title>
    <link rel="stylesheet" href="/static/home.css">
</head>

<body>

    {% include 'header.html' %}

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible fade show m-0" role="alert">
        <h4 style="color:red;">{{ message }}</h4>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <div id="mainBox">
        <div id="titles">
            <p id="title">Saas and in-house solution to integrate verifiable credentials, DIDs and Digital Identity wallets in applications</p>
            <p hidden id="subTitle">[ Beta release, not for production project ]</p>
        </div>
        <div id="box2">
            <div id="divCompliant"><img id="arrowDown" src="/static/img/arrow-down.png">
                <p id="compliant">W3C compliant, OIDC4VCI - OIDC4VP - SIOPV2 support - Open source code </p>
            </div>
            <div id="linksBox">
                <div class="lineLinks">
                    <a class="link">
                        <div class="topLineLink">
                            <p class="topLineP">JWT and JSON-LD VC/VP</p>
                            <img class="linkImg" src="/static/img/link.png">
                        </div>
                        <p class="lowLineP">Support VCs and VPs in both format with P-256, Secp256k1 and Ed25519 keys. Accepts did:key, 
                            did:web: did:ethr, did:tz, did:ebsi, did:hedera.</p>
                    </a>
                    <a class="link">
                        <div class="topLineLink">
                            <p class="topLineP">Issuance with pre authorized code flow and authorization code flow</p>
                            <img class="linkImg" src="/static/img/link.png">
                        </div>
                        <p class="lowLineP">Pre authorized code flow with PIN user code at 4 or 6 digits to protect QR code reading.</p>
                    </a>
                    <a class="link">
                        <div class="topLineLink">
                            <p class="topLineP">Deferred issuance</p>
                            <img class="linkImg" src="/static/img/link.png">
                        </div>
                        <p class="lowLineP">Deferred processus allow VC providers to delay the issuance of their credentials.</p>
                    </a>
                </div>
                <div class="lineLinks">
                    <a class="link">
                        <div class="topLineLink">
                            <p class="topLineP">VC indentifier</p>
                            <img class="linkImg" src="/static/img/link.png">
                        </div>
                        <p class="lowLineP">This is an advanced feature to allow the issuance of multiplce VCs of the same type.</p>
                    </a>
                    <a class="link">
                        <div class="topLineLink">
                            <p class="topLineP">Presentation exchange 2.0</p>
                            <img class="linkImg" src="/static/img/link.png">
                        </div>
                        <p class="lowLineP">Submission requirements with rules as pick, all, count, min...from groups. Filter type array.</p>
                    </a>
                    <a class="link">
                        <div class="topLineLink">
                            <p class="topLineP">Ecosystem profils</p>
                            <img class="linkImg" src="/static/img/link.png">
                        </div>
                        <p class="lowLineP">Support EBSI-V3 and Gaia-X profils.</p>
                    </a>
                </div>
            </div>
            <a id="register" href="/sandbox/saas4ssi/signup">REGISTER TO SANDBOX</a>
        </div>
    </div>


    {% include 'footer.html' %}


</body>

</html>