<!DOCTYPE html>
<!-- home.html
last one-->
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/img/altmeIcon.png">
    <title>Talao issuers and verifiers</title>
    <link rel="stylesheet" href="/static/home.css">
</head>

<body>

    {% include 'header.html' %}

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible fade show m-0" role="alert">
        <h4 style="color:red;">{{ message }}</h4>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <div id="mainBox">
        <div id="titles">
            <p id="title">Saas and in-house solution to integrate Digital Identity Wallets in applications</p>
            <p hidden id="subTitle">[ Beta release, not for production project ]</p>
        </div>
        <div id="box2">
            <div id="divCompliant"><img id="arrowDown" src="/static/img/arrow-down.png">
                <p id="compliant">Comply with EU frameworks as ARF (EUDI wallet),  EBSI, GAIA-X</p>
            </div>
            <div id="linksBox">
                <div class="lineLinks">
                    <a class="link">
                        <div class="topLineLink">
                            <p class="topLineP">Fast and simple</p>
                        </div>
                        <p class="lowLineP">Install and configure a verifier in a few hours, setup an issuer in a couple of days. Integration with NodeJS, Python, Go, Ruby, PHP, C, C++, Keycloak, Wordpress, Webflow,...</p>
                    </a>
                    <a class="link">
                        <div class="topLineLink">
                            <p class="topLineP">Open source or custom integration</p>
                        </div>
                        <p class="lowLineP">Download the source code or ask us support for customization and integration.</p>
                    </a>
                    <a class="link">
                        <div class="topLineLink">
                            <p class="topLineP">In house or remote issuers and verifiers</p>
                        </div>
                        <p class="lowLineP">Decentralized solutions need in-house issuers and verifiers but use our free remote issuers and verifiers for a POC.</p>
                    </a>
                </div>

                <div id="linksBox">
                    <div class="lineLinks">
                        <a class="link">
                            <div class="topLineLink">
                                <p class="topLineP">W3C JWT, SD-JWT and JSON-LD VC/VP formats</p>
                            </div>
                            <p class="lowLineP">Support VCs and VPs in both format with P-256, Secp256k1 and Ed25519 keys. Accepts identifiers did:key, 
                                did:web: did:ethr, did:pkh, did:tz, did:ebsi, Thumbprint, cnf...</p>
                        </a>
                        <a class="link">
                            <div class="topLineLink">
                                <p class="topLineP">OIDC4VCI pre authorized code flow and authorization code flow</p>
                            </div>
                            <p class="lowLineP">Easy to integrate in all applications through QR code or deeplinks and universal links.</p>
                        </a>
                        <a class="link">
                            <div class="topLineLink">
                                <p class="topLineP">SIOPV2 and OIDC4VP support</p>
                            </div>
                            <p class="lowLineP">Secure authentication protocol and presentation exchange between parties.</p>
                        </a>
                    </div>
                </div>

                <div class="lineLinks">
                    <a class="link">
                        <div class="topLineLink">
                            <p class="topLineP">Multiple VC and deferred issuance</p>
                        </div>
                        <p class="lowLineP">Advanced feature to allow the issuance of multiplce VCs of the same type
                            and to allow VC providers to delay the issuance of their credentials</p>
                    </a>
                    <a class="link">
                        <div class="topLineLink">
                            <p class="topLineP">Presentation Exchange 2.0</p>
                        </div>
                        <p class="lowLineP">For real use cases with complex requests. Submission requirements with rules as pick, all, count, min...from groups. Filter type array.</p>
                    </a>
                    <a class="link">
                        <div class="topLineLink">
                            <p class="topLineP">VC Revocation and supension management</p>
                        </div>
                        <p class="lowLineP">Support of statusList and token list standard</p>
                    </a>
                </div>
            </div>
       <!--     <a id="register" href="/sandbox/saas4ssi/signup">REGISTER TO CREATE AN ISSUER OR A VERIFIER</a>  -->
        </div>
    </div>
    <div>
    <a id="contactNavBar" href="https://qhf0siml406.typeform.com/to/PdULRDIV">CONTACT</a>
    <br><br>
        </div>

    {% include 'footer.html' %}


</body>

</html>