<!DOCTYPE html>
<!-- home.html
last one-->
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/img/altmeIcon.png">
    <title>Talao</title>
    <link rel="stylesheet" href="/static/home.css">
</head>

<body>

    {% include 'header.html' %}



    <div id="mainBox">
        <p id="title">Create or select your Issuer or Verifier</p>
        <div id="consoleBox">
            <div class="consoleColumn">
                <a class="linkConsole" href="/sandbox/verifier/console">
                    <div class="topLineLink">
                        <p class="consoleP">Verifiers for mobile wallets </p><img class="linkImg"
                            src="/static/img/link.png">
                    </div>
                    <div class="linesConsole">
                        <p class="lineConsole">- SIOPv2/OIDC4VP implementation</p>
                        <p class="lineConsole">- Support EBSI V3 compliant wallets</p>
                        <p class="lineConsole">- ARF type 2 compliance</p>
                        <p class="lineConsole">- Integration with standard OIDC lib (NodeJS, Python, PHP, C, C+, GO,
                            Ruby,..Webflow, Wordpress,..;)</p>
                        <p class="lineConsole">- Resquest as a jwt and as an uri</p>
                        <p class="lineConsole">- Personal definition uri</p>
                        <p class="lineConsole">- PKCE</p>
                        <p class="lineConsole">- Client id as a DID or uri</p>
                        <p class="lineConsole">- JWT and JSON-LD</p>
                        <p class="lineConsole">- did;web, did:ethr, did:hedera, did:ebsi, did:tz, did:key</p>
                        <p class="lineConsole">- P-256, secp256k1, Ed25519, RS-256</p>
                        <p class="lineConsole">- Dedicated external resolver</p>
                        <p class="lineConsole">- PEX 2.0: rule count, all, array content, string pattern</p>


                    </div>
                </a>
                <div class="seeDiv">
                    <a class="seeA" href="https://openid.net/specs/openid-4-verifiable-presentations-1_0.html">
                        <p class="testP">See OIDC4VP standards </p>
                        <img class="linkImg" src="/static/img/link.png">
                    </a>
                    <a class="seeA" href="https://openid.net/specs/openid-connect-self-issued-v2-1_0.html">
                        <p class="testP">See SIOPV2 standards</p>
                        <img class="linkImg" src="/static/img/link.png">
                    </a>
                    <a class="seeA"
                        href="https://identity.foundation/presentation-exchange/spec/v2.0.0/?ref=blog.identity.foundation">
                        <p class="testP">See Presentation Exchange 2.0</p>
                        <img class="linkImg" src="/static/img/link.png">
                    </a>

                </div>
            </div>
            <div class="consoleColumn">
                <a class="linkConsole" href="/sandbox/issuer/console">
                    <div class="topLineLink">
                        <p class="consoleP">Issuers for mobile wallets</p><img class="linkImg"
                            src="/static/img/link.png">
                    </div>
                    <div class="linesConsole">
                        <p class="lineConsole">- OIDC4VCI implementation</p>
                        <p class="lineConsole">- Support different profiles as EBSI V3, GAIAX, ..</p>
                        <p class="lineConsole">- Support of authorization code flow and pre-authorized_code flow </p>
                        <p class="lineConsole">- Pre authorized code flow</p>
                        <p class="lineConsole">- Authorized code flow available on in house release</p>
                        <p class="lineConsole">- Deferred endpoint</p>
                        <p class="lineConsole">- Credential offer uri</p>
                        <p class="lineConsole">- PIN code of 6 or 4 digits</p>
                        <p class="lineConsole">- JWT and JSON-LD</p>
                        <p class="lineConsole">- did;web, did:ethr, did:hedera, did:ebsi, did:tz, did:key</p>
                        <p class="lineConsole">- P-256, secp256k1, Ed25519, RS-256</p>
                        <p class="lineConsole">- Issuance of multiple VCs of the same type</p>
                        <p class="lineConsole">- Wallet rendering in credential manifest</p>
                        <p class="lineConsole">- Swagger UI for API</p>


                    </div>
                </a>
                <div class="seeDiv">
                    <a class="seeA" href="https://openid.net/specs/openid-4-verifiable-credential-issuance-1_0.html">
                        <p class="testP">See OIDC4VCI standards</p>
                        <img class="linkImg" src="/static/img/link.png">
                    </a>
                    <a class="seeA" href="https://identity.foundation/wallet-rendering/">
                        <p class="testP">See Wallet rendering
                            standards</p>
                        <img class="linkImg" src="/static/img/link.png">
                    </a>

                </div>
            </div>
        </div>


    </div>


    {% include 'footer.html' %}


</body>

</html>