<!DOCTYPE html>
<!-- home.html
last one-->
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/img/altmeIcon.png">
    <title>Talao</title>
    <link rel="stylesheet" href="/static/home.css">
</head>

<body>

    {% include 'header.html' %}



    <div id="mainBox">
        <p id="title">Create or select your connectors</p>
        <div id="consoleBox">
            <div class="consoleColumn">
                <a class="linkConsole" href="/sandbox/verifier/console">
                    <div class="topLineLink">
                        <p class="consoleP">Verify credentials presented by mobile wallets</p><img class="linkImg"
                            src="/static/img/link.png">
                    </div>
                    <div class="linesConsole">
                        <p class="lineConsole">It is a bridge between a standard OIDC client application and a digital identity wallet.
                        <p class="lineConsole">Integration can be achieved with any framework (NodeJS, Python, PHP, C, C+, GO,
                            Ruby,..Webflow, Wordpress,..;) with the help of a standard OIDC client lib.</p>
                        <p class="lineConsole">All parameters are managed through the console of the platform, so developer only need to setup
                            the issuer, client_id and client_secret parameters in their code.</p>
                        <p class="lineConsole">Implementation time for POC : a couple of hours.</p>


                    </div>
                </a>
                <div class="seeDiv">
                    <a class="seeA" href="https://openid.net/certified-open-id-developer-tools/">
                        <p class="testP">See OIDC client lib </p>
                        <img class="linkImg" src="/static/img/link.png">
                    </a>
                    <a class="seeA" href="https://openid.net/specs/openid-4-verifiable-presentations-1_0.html">
                        <p class="testP">See OIDC4VP standards </p>
                        <img class="linkImg" src="/static/img/link.png">
                    </a>
                    <a class="seeA" href="https://openid.net/specs/openid-connect-self-issued-v2-1_0.html">
                        <p class="testP">See SIOPV2 standards</p>
                        <img class="linkImg" src="/static/img/link.png">
                    </a>
                    <a class="seeA"
                        href="https://identity.foundation/presentation-exchange/spec/v2.0.0/?ref=blog.identity.foundation">
                        <p class="testP">See Presentation Exchange 2.0</p>
                        <img class="linkImg" src="/static/img/link.png">
                    </a>

                </div>
            </div>
            <div class="consoleColumn">
                <a class="linkConsole" href="/issuer/console">
                    <div class="topLineLink">
                        <p class="consoleP">Issue credentials to mobile wallets</p><img class="linkImg"
                            src="/static/img/link.png">
                    </div>
                    <div class="linesConsole">
                        <p class="lineConsole">Issuance of credentials is done through a unique call to an API and a redirect of the user browser.</p>
                        <p class="lineConsole">Through the API developers will provide the main VC data and some options.</p>
                        <p class="lineConsole">Other parameters are setup through the console of the platform.</p>
                        <p class="lineConsole">A swagger UI is available with example.</p>
                        <p class="lineConsole">Implementation time for POC : 1 to 2 days.</p>



                    </div>
                </a>
                <div class="seeDiv">
                    <a class="seeA" href="https://openid.net/specs/openid-4-verifiable-credential-issuance-1_0.html">
                        <p class="testP">See OIDC4VCI standards</p>
                        <img class="linkImg" src="/static/img/link.png">
                    </a>
                    <a class="seeA" href="https://identity.foundation/wallet-rendering/">
                        <p class="testP">See Wallet rendering
                            standards</p>
                        <img class="linkImg" src="/static/img/link.png">
                    </a>
                    <a class="seeA" href="/api/swagger">
                        <p class="testP">See swagger UI
                            </p>
                        <img class="linkImg" src="/static/img/link.png">
                    </a>

                </div>
            </div>
        </div>


    </div>


    {% include 'footer.html' %}


</body>

</html>