  <nav class="navbar navbar-light navbar-expand-md sticky-top  mb-3" style="filter: blur(0px);opacity: 1;background: rgba(256, 256, 256, 0.93);">
    <div class="container-fluid">

      <div class="">
        <a href="https://altme.io"><img  src="/static/img/altme.png" style="width: 50px;border-radius:0px;"></a>
      </div>
      <h6 class="text-secondary flex-nowrap ml-auto d-none d-sm-block">
        <h4 class="d-none d-sm-block"style="color: grey ; margin-bottom: 0; margin-left : 4em"></h4> 
      </h6>
      <ul class="nav navbar-nav ml-auto d-lg-flex align-items-center" style="flex-direction: row;">

      

      </ul>
    </div>
  </nav>

  <!-- End of Nav Bar Guest -->
