<!DOCTYPE html>
<!-- playground.html -->
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/img/altmeIcon.png">
    <title>Talao</title>
    <link rel="stylesheet" href="/static/home.css">
</head>

<body>

    {% include 'header.html' %}



    <div id="mainBox">
        <p id="title">Verifiable Credentials for wallet demos and tests</p>
        <div id="box2">
            <div id="divCompliant"><img id="arrowDown" src="/static/img/arrow-down.png">
                <p id="compliant">Fake data</p>
            </div>
            <div id="bigBox">
                <div class="cardBox">
                    <a href="/sandbox/credentialOffer2"><img id="signatureImage" src="/static/img/signature2.png"></a>
                    <div class="lineCardBox">
                        <p class="titleCardPlayground">Get all VCs in json-ld format</p>
                    </div>
                </div>
                <div class="lineBigBox">
                    <div class="cardBox">
                        <a href="/sandbox/direct_offer?VC=TalaoCommunity.jsonld"><img class="cardPlayground"
                                src="/static/img/community.png"></a>
                        <div class="lineCardBox">
                            <p class="titleCardPlayground">Get a Talao community card</p>
                        </div>
                    </div>
                    <div class="cardBox">
                        <a href="/sandbox/direct_offer?VC=CertificateOfEmployment.jsonld"><img class="cardPlayground"
                                src="/static/img/employement.png"></a>
                        <div class="lineCardBox">
                            <p class="titleCardPlayground">Get a certificate of employment</p>
                        </div>
                    </div>
                    <div class="cardBox">
                        <a href="/sandbox/direct_offer?VC=VerifiableDiploma.jsonld"><img class="cardPlayground"
                                src="/static/img/diploma.png"></a>
                        <div class="lineCardBox">
                            <p class="titleCardPlayground">Get a Diploma</p>
                        </div>
                    </div>
                </div>
                <div class="lineBigBox">
                    <div class="cardBox">
                        <a href="/sandbox/direct_offer?VC=StudentCard.jsonld"><img class="cardPlayground"
                                src="/static/img/student.png"></a>
                        <div class="lineCardBox">
                            <p class="titleCardPlayground">Get a Student card</p>
                        </div>
                    </div>
                    <div class="cardBox">
                        <a href="/sandbox/direct_offer?VC=Over18.jsonld"><img class="cardPlayground"
                                src="/static/img/Over18.png"></a>
                        <div class="lineCardBox">
                            <p class="titleCardPlayground">Get an Over 18 proof </p>
                        </div>
                    </div>
                    <div class="cardBox">
                        <a href="/sandbox/direct_offer?VC=Over13.jsonld"><img class="cardPlayground"
                                src="/static/img/Over13.png"></a>
                        <div class="lineCardBox">
                            <p class="titleCardPlayground">Get an Over 13 proof </p>
                        </div>
                    </div>
                </div>
                <div class="lineBigBox">
                    <div class="cardBox">
                        <a href="/sandbox/direct_offer?VC=EmployeeCredential.jsonld"><img class="cardPlayground"
                                src="/static/img/gaia.png"></a>
                        <div class="lineCardBox">
                            <p class="titleCardPlayground">GAIA-X Employee Credential</p>
                        </div>
                    </div>
                    <div class="cardBox">
                        <a href="https://issuer.talao.co/phonepass"><img class="cardPlayground"
                                src="/static/img/phone.png"></a>
                        <div class="lineCardBox">
                            <p class="titleCardPlayground">Get a proof of phone number (real)</p>
                        </div>
                    </div>
                    <div class="cardBox">
                        <a href="/sandbox/direct_offer?VC=TezVoucher_1.jsonld"><img class="cardPlayground"
                                src="/static/img/voucher.png"></a>
                        <div class="lineCardBox">
                            <p class="titleCardPlayground">Get a Tezotopia voucher</p>
                        </div>
                    </div>
                </div>
                <div class="lineBigBox">
                    <div class="cardBox">
                        <a href="/sandbox/direct_offer?VC=MembershipCard_1.jsonld"><img class="cardPlayground"
                                src="/static/img/membership.png"></a>
                        <div class="lineCardBox">
                            <p class="titleCardPlayground">Get a Tezotopia membership card</p>
                        </div>
                    </div>
                    <div class="cardBox">
                        <a href="/sandbox/direct_offer?VC=AragoPass.jsonld"><img class="cardPlayground"
                                src="/static/img/arago.png"></a>
                        <div class="lineCardBox">
                            <p class="titleCardPlayground">Get an Arago Pass</p>
                        </div>
                    </div>
                    <div class="cardBox">
                        <a href="/sandbox/direct_offer?VC=DefiCompliance.jsonld"><img class="cardPlayground"
                                src="/static/img/Defi.png"></a>
                        <div class="lineCardBox">
                            <p class="titleCardPlayground">Get a Defi Compliance card</p>
                        </div>
                    </div>
                </div>
                <div class="lineBigBox">
                    <div class="cardBox">
                        <a href="/sandbox/direct_offer?VC=EthereumAssociatedAddress.jsonld"><img class="cardPlayground"
                                src="/static/img/ethereum.png"></a>
                        <div class="lineCardBox">
                            <p class="titleCardPlayground">Get a Ethereum associated address</p>
                        </div>
                    </div>
                    <div class="cardBox">
                        <a href="/sandbox/direct_offer?VC=LinkedAddress.jsonld"><img class="cardPlayground"
                                src="/static/img/tezos.png"></a>
                        <div class="lineCardBox">
                            <p class="titleCardPlayground">Get a Tezos associated address</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="toolsBox">
            <div id="divCompliant">
                <img id="arrowDown" src="/static/img/tools.png">
                <p id="compliant">Tools</p>
            </div>
            <div id="toolsUnderBox">
                <a href="/sandbox/presentationRequest" class="toolsLink">
                    <p class="toolsP">QueryByExample test</p>
                </a>
                <a href="/sandbox/direct_offer?VC=Test.jsonld" class="toolsLink">
                    <p class="toolsP">Test format</p>
                </a>
            </div>
        </div>
    </div>

    {% include 'footer.html' %}


    <script>
        function goBack() {
            window.history.back();
        }
    </script>

</body>

</html>