<!DOCTYPE html>
<!-- wallet_login.html -->
<html style="background-color: {{ page_background_color }} ">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=300px, initial-scale=1, maximum-scale=1">  
        <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='./img/3D.ico') }}"/>
        <title>{{company_name}}</title>
        <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='bootstrap.min.css') }}">
    </head>


    <body id="page-top" style="background-color: {{color}};">
    <div id="content_desktop" class="d-none d-sm-block" >
        {% include "wallet/wallet_nav_bar.html" %}

        <div id="wrapper">
            <div class="d-flex flex-column">

                    <div class="container">
                    
                        <div class="row d-flex justify-content-center ">    
                            <div class="col-12">
                                <div class="text-center border-radius: 20%">
                                <h2 hidden class="mt-2 p-2">{{title}}</h2>
                            </div>
                            <div class="card shadow o-hidden border-0 mt-5" style="border-radius: 4%;" >
                                    <div class="card-body p-0">
                                            <div id="id_text" class="p-5">
                                                
                                                <div class="text-center">
                                                    <h4 class="mb-4">Credential</h4>
                                                </div>

                                                <pre>
                                                
                                                    {{credential|safe}}                                           
                                            </pre>
                                            <form class="user" action="/wallet/credential?id={{id}}" method="POST">
                                                <button class="btn btn-block  btn-user" type="submit">Delete</button>
                                            </form>  
                                            </div>        
                                        </div> 
                                    <div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                    <a class="text-secondary" href={{privacy_url}}><small>Privacy</small></a>
                                    </div>
                                    <div class="col">
                                    <a class="text-secondary" href={{terms_url}}><small>Terms & conditions</small></a>
                                    </div>
                                </div>  
                            </div>
                            </div>
                    </div> 
                </div>
            </div>
        </div>
    

    


    <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>   


</body>
</html>
