<!-- wallet_issuer.html-->
<!DOCTYPE html>
<html>

<head>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=300px, initial-scale=1, maximum-scale=1">  
        <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='./img/3D.ico') }}"/>
        <title>{{company_name}}</title>
        <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='bootstrap.min.css') }}">
    </head>
</head>

<body id="page-top" style="background-color: {{color}};">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper" >     
            <div id="content">
            {% include "wallet/wallet_nav_bar.html" %}
                <div class="container-fluid">
                    <div class="text-center">
                        <br><br>
                        <h3 class="text-dark my-4">Select an attestation for your EUDI wallet</h3>
                    </div>
                <div class="row mb-3">
                    <div class="col-8 offset-2">
                <div class="card shadow mt-5">
                
                    <div class="card-body">
                        <div class="form-row">

                            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                            <div style="height:600px;overflow:auto;overflow-x: hidden;"> 
                            <table class="table my-0" id="dataTable">
                                <thead>
                                    <tr>
                                        <th style="width: 10%" >Company credentials</th>
                                        <th style="width: 15%" >Description</th>
                                        <th style="width: 10%">Contact name</th>
                                        <th style="width: 5%">Uploaded</th>
                                    </tr>
                                    
                                </thead>
                                <tbody>
                                  
                                    <tr>
                                        <td><a href="/wallet/personal?certificate=EmailPass">Email proof</td>
                                        <td>This credential proves your email ownership</td>
                                        <td>human.ressources@company.com...</td>
                                        <td>05/11/2023</td>
                                    </tr>
                                    <tr>
                                        <td><a href="/wallet/personal?certificate=EmailPass">Enterprise pass</td>
                                        <td>You can use this pass to authenticate to theis wallet application or to other company applications</td>
                                        <td>human.ressources@company.com...</td>
                                        <td>05/11/2023</td>
                                    </tr>
                                
                                </tbody>
                            </table>
                            <br><br>
                            <table class="table my-0" id="dataTable">
                                <thead>
                                    <tr>
                                        <th style="width: 10%" >Legal attestation</th>
                                        <th style="width: 15%" >Description</th>
                                        <th style="width: 10%">Contact name</th>
                                        <th style="width: 5%">Uploaded</th>
                                    </tr>
                                    
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><a href="/wallet/personal?certificate=EmailPass">Employee certificate</td>
                                        <td>This is a proof of your are an employee of eth company</td>
                                        <td>human.ressources@company.com...</td>
                                        <td>No</td>
                                    </tr>
                                    <tr>
                                        <td><a href="/wallet/personal?certificate=EmailPass">Proof of legal representation</td>
                                        <td>This is a proof of your role as a representative of the company</td>
                                        <td>human.ressources@company.com...</td>
                                        <td>No</td>
                                    </tr>
                                    
                                
                                </tbody>
                            </table><br><br>
                            <table class="table my-0" id="dataTable">
                                <thead>
                                    <tr>
                                        <th style="width: 10%" >Payslip</th>
                                        <th style="width: 15%" >Description</th>
                                        <th style="width: 10%">Contact name</th>
                                        <th style="width: 5%">Uploaded</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><a href=/wallet/personal?certificate=payslip>... previous</td>
                                        <td>2023 year</td>
                                        <td>human.ressources@company.com...</td>
                                        <td>...</td>
                                    </tr>
                                    <tr>
                                        <td><a href=/wallet/personal?certificate=payslip>January 2024</td>
                                        <td>From 1st to the 31st of January 2024</td>
                                        <td>human.ressources@company.com...</td>
                                        <td>05/01/2024</td>
                                    </tr>
                                    
                                    <tr>
                                        <td><a href=/wallet/personal?certificate=payslip>February 2024</td>
                                        <td>From the 1st to teh 28th of February 2024</td>
                                        <td>human.ressources@company.com...</td>
                                        <td>10/02/2024</td>
                                    </tr>

                                    
                                    
                                </tbody>
                            </table>
                            <br><br>          
                            <table class="table my-0" id="dataTable">
                                <thead>
                                    <tr>
                                        <th style="width: 10%" >Professional certifications</th>
                                        <th style="width: 15%" >Description</th>
                                        <th style="width: 10%">Contact name</th>
                                        <th style="width: 5%">Uploaded</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><a href=/wallet/personal?certificate=payslip>Remote management level 3</td>
                                        <td>This is a proof of your participation to this company internal training</td>
                                        <td>human.ressources@company.com...</td>
                                        <td>No</td>
                                    </tr>
                                    <tr>
                                        <td><a href=/wallet/personal?certificate=payslip>Commercial negotiation level 1</td>
                                        <td>This is a proof of your participation to this company internal training</td>
                                        <td>human.ressources@company.com...</td>
                                        <td>No</td>
                                    </tr>
                                    <tr>
                                        <td><a href=/wallet/personal?certificate=payslip>Societal innovation and energy transition</td>
                                        <td></td>
                                        <td>human.ressources@company.com...</td>
                                        <td>No</td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div> 
                    </div>
                        </div>
                        
                    </div>
                  </div>
                </div>
              
          </div>
        </div>
      </div>
    </div>
  </div>

      <script src="{{ url_for('static', filename='in_progress_button.js') }}"></script>
      <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
      <script src="{{ url_for('static', filename='theme.js') }}"></script>
      <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
</body>

</html>