  <!-- Nav Bar Guest -->
  <nav class="navbar navbar-light navbar-expand-md sticky-top shadow mb-3" style="filter: blur(0px);opacity: 1;background: #ffffff;">
    <div class="container-fluid">

      <div class="">
        <a href="https://talao.co"><img  src="{{logo}}" style="width: 30px;border-radius:0px;"></a>
      </div>
      <h6 class="text-secondary flex-nowrap ml-auto d-none d-sm-block">
        <h4 class="d-none d-sm-block"style="color: rgb(54, 24, 88); margin-bottom: 0">{{title}}</h4>
      </h6>
      
      <ul class="nav navbar-nav ml-auto d-lg-flex align-items-center" style="flex-direction: row;">


        <li class="nav-item active">
            <a class="nav-link" style="color: rgb(54, 24, 88); margin-bottom: 0" href="/wallet">My wallet</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" style="color: rgb(54, 24, 88); margin-bottom: 0" href="/wallet/qeea/select">Discover</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" style="color: rgb(54, 24, 88); margin-bottom: 0" href="/wallet/verifier">Search</a>
          </li>



        <li class="nav-item dropdown d-none d-md-block">
          <a class="nav-link" style="color: rgb(54, 24, 88); margin-bottom: 0"  href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Settings
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/wallet/get_attestation">Get attestation</a>
            <a class="dropdown-item" href="/wallet/update_configuration">Update configuration</a>
            <a class="dropdown-item" href="/wallet/issuer">Issuer list</a>
            <a class="dropdown-item" href="/wallet">Developer mode</a>
            <a class="dropdown-item" href="/wallet/help">Help Center</a>
            <a class="dropdown-item" href="/wallet/help">About</a>
            <a class="dropdown-item" href="/sandbox/saas4ssi/logout">Logout</a>


          </div>
          
        </li>
<!--

        <li class="nav-item dropdown d-none d-md-block">
            <a class="nav-link" style="color: rgb(54, 24, 88); margin-bottom: 0"  href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Issuers
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/issuer/oidc/test">Issuers</a>
              <a class="dropdown-item" href="/sandbox/verifier/oidc/test">Discover</a>
            </div>
            
          </li>
          <li class="nav-item dropdown d-none d-md-block">
            <a class="nav-link" style="color: rgb(54, 24, 88); margin-bottom: 0"  href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Verifier
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/issuer/oidc/test">Verifiers</a>
              <a class="dropdown-item" href="/sandbox/verifier/oidc/test">Discover</a>
            </div>
            
          </li>

        -->

          
      
      </ul>
    </div>
  </nav>

  <!-- End of Nav Bar Guest -->
